<!-- Decorative tags: http://mbenford.github.io/ngTagsInput/demos.html -->
<!-- Datepicker: http://plnkr.co/edit/?p=preview -->

<form class="form-horizontal">
    <div class="form-group">
        <!-- from location-->
        <label  for="from_location" class="col-sm-2 control-label" >You are coming from:</label>
        <div class="col-sm-10">
            <input id="from_location" type="text" class="form-control" placeholder="Traveling from? (Imported or Autofilled by system)" ng-required="true">
        </div>
    </div><div class="form-group">
        <!-- to location-->
        <label  for="to_location" class="col-sm-2 control-label">Traveling to:</label>
        <div class="col-sm-10">
            <input id="to_location" type="text" class="form-control" placeholder="Traveling to?" ng-required="true">
        </div>
    </div>
    <div class="form-group">
        <!-- Beginning date-->
            <label  for="begin_date" class="col-sm-2 control-label">Beginning Date:</label>
            <div class="col-sm-2">
            <!--<p class="input-group">
                <!--<span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>-->
                <input id="begin_date" type="date" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
           </div>
    </div><div class="form-group">
        <!-- Ending date-->
        <label  for="end_date" class="col-sm-2 control-label">Ending Date:</label>
        <div class="col-sm-2">

            <input id="end_date" type="date" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        </div>
    </div><div class="form-group">
        <label  for="interesting_people_tag" class="col-sm-2 control-label">What kinds of travelers would you like to find:</label>
        <tags-input id="interesting_people_tag" class="col-sm-10"  ng-model="people_tags"  placeholder="Add a description tag e.g. surfers, bikers, coffee-lovers" replace-spaces-with-dashes="false">
            <auto-complete source="load_people_tags($query)"   min-length="0"  debounce-delay="0"  max-results="10"></auto-complete>
        </tags-input>
    </div>
    <button class="btn btn-primary btn-sm" type="button">Search!</button>

</form>
